$spacer: 8px;
$yellow-linear-gradient: trasparent;
// $blue-linear-gradient-background: transparent;
$blue-linear-gradient-background: linear-gradient(-45deg,

  rgb(180,180,180),
  rgb(180,180,185),
  rgb(180,180,190),
  rgb(180,180,195),
  rgb(180,180,200),
  rgb(180,180,205),
  rgb(180,180,210),
  rgb(180,180,215),
  rgb(180,180,220),
  rgb(180,180,225),
  rgb(180,180,230),
  rgb(180,180,235),
  rgb(180,180,240),
  rgb(180,180,245),
  rgb(180,180,250),
  rgb(180,180,255),

  rgb(180,180,250),
  rgb(180,180,245),
  rgb(180,180,240),
  rgb(180,180,235),
  rgb(180,180,230),
  rgb(180,180,225),
  rgb(180,180,220),
  rgb(180,180,215),
  rgb(180,180,210),
  rgb(180,180,205),
  rgb(180,180,200),
  rgb(180,180,195),
  rgb(180,180,190),
  rgb(180,180,185),
  rgb(180,180,180),

);
