.btn-rect-nav {
  text-decoration: none;
  color: black;

  &:hover {
    color: black;
    filter: invert(100%);

    .black-frame-bottom-container {
      background: white;
    }
  }

  h3 {
    margin: 0;
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    font-size: 30px;
  }
}

.white-frame-top-container, .black-frame-bottom-container {
  width: 80px;
  height: 40px;
}

.white-frame-top-container {
  border-top: 1px white solid;
  border-right: 1px white solid;
  border-left: 1px white solid;

  h3 {
    color: white;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 40px;
    letter-spacing: 8px;
  }
}

.black-frame-bottom-container {
  border-bottom: 1px black solid;
  border-right: 1px black solid;
  border-left: 1px black solid;
}

.btn-all-cocktails {
  position: absolute;
  bottom: 24px;
  left: 0;
}

.btn-add-cocktail {
  position: absolute;
  bottom: 24px;
  right: 0;
}

.link-to-show-page-container {
  position: absolute;
  bottom: 48px;
  right: 48px;
  border: 1px solid black;
  padding: 16px 32px;
  background: #F4F4F4;
  font-family: 'Bowlby One SC', cursive;

  &:hover {
    filter: invert(100%);
  }
}

.link-to-show-page {
  color: black;

  &:hover {
    color: black;
    text-decoration: none;
  }
}
