// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "config/variables";

.cards-container {
  width: 100%;
  margin: 120px auto 0 auto;
}

.outer-cocktail-container {
  margin: 128px 0;
}

.cocktail-container {
  display: flex;
  align-items: center;
  width: 900px;
  margin: 64px auto;
  border: 1px solid rgba(0,0,0,0.5);
  background: #F4F4F4;
  position: relative;
}

.cocktail-page-container {
  width: 1200px;
  height: 480px;
  margin: $spacer * 8 auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.cocktail-photo {
  // height: 480px;
  // margin-top: $spacer * 4;
  width: 33%;
}

.cocktail-description {
  margin: $spacer * 2 $spacer * 4;
  height: 480px;
  width: 33%;
}

.cocktail-ingredients {
  height: 440px;
  margin-top: $spacer * 4;
  width: 33%;
}

.img-fit {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  // border-radius: 16px;
  // box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15), -2px -2px 2px 2px rgba(255,255,255, 0.2);
}

.cocktail-title {
  // font-family: 'Calligraffitti', cursive;
  font-family: 'Bowlby One SC', cursive;
  // line-height: 1.5;
  margin: $spacer * 4 132px;
  font-size: 36px;
}

.cocktail-img {
  height: 560px;
  width: 300px;
}

.cocktail-img img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

